/* CSS declarations go here */

.controversialTalk {
  background: url(/kia/controversialTalk.png) center no-repeat;
  background-size: contain;
}

.prejudicedPerception {
  background: url(/kia/prejudicedPerception.jpg) center no-repeat;
  background-size: contain;
}

.deepFreeze {
  background: url(/kia/deepFreeze.png) center no-repeat;
  background-size: contain;
}

.archiveIs {
  background: url(/kia/archiveIs.png) center no-repeat;
  background-size: contain;
}

.autoArchive {
  background: url(/kia/autoArchive.png) center no-repeat;
  background-size: contain;
}

.againstDoxxing {
  background: url(/kia/againstDoxxing.png) center no-repeat;
  background-size: contain;
}

.defineHarassment {
  background: url(/kia/defineHarassment.png) center no-repeat;
  background-size: contain;
}

.kiaHarassed {
  background: url(/kia/kiaHarassed.png) center no-repeat;
  background-size: contain;
}

.kiaDoesHarass {
  background: url(/kia/kiaDoesHarass.png) center no-repeat;
  background-size: contain;
}



/*---------------------- ema -----------------------*/
.eccentricProcess {
  background: url(/ema/eccentricProcess.png) center no-repeat;
  background-size: contain;
}

.convenienceStrategy2 {
  background: url(/ema/convenienceStrategy2.png) center no-repeat;
  background-size: contain;
}

.convenienceStrategy1 {
  background: url(/ema/convenienceStrategy1.png) center no-repeat;
  background-size: contain;
}

.inappropriateAnswer1 {
  background: url(/ema/inappropriateAnswer1.png) center no-repeat;
  background-size: contain;
}

.problemsMatching1 {
  background: url(/ema/matchingProblem1.png) center no-repeat;
  /*background: url(/ema/arousal.png) center no-repeat;*/
  background-size: contain;
}

.problemsMatching2 {
  background: url(/ema/matchingProblem2.png) center no-repeat;
  background-size: contain;
}

.tooManyImages {
  background: url(/ema/tooManyImages.png) center no-repeat;
  background-size: contain;
}

.pamGridOnly{
  background: url(/ema/gridOnly.png) center no-repeat;
  background-size: contain;
}

.pamArousal {
  background: url(/ema/arousal.png) center no-repeat;
  background-size: contain;
}

.pamValence {
  background: url(/ema/valence.png) center no-repeat;
  background-size: contain;
}

.prototypeView_1 {
  background: url(/figures/facebookHover.png) center no-repeat;
  background-size: contain;
}

.prototypeView_2 {
  background: url(/figures/FbHover.png) center no-repeat;
    background-size: contain;
}

.prototypeView_3 {
  background: url(/figures/comments_details.png) center no-repeat;
    background-size: contain;
}

/*-------------------------------------------------------*/

#twoDesignOpportunitiesBanner {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.abra-inset-section {
  border-radius: 5px 0 0 5px;
}

.abra-table th, abra-table td {
  boder: 0px !important;
}

.abra-no-decoration {
  text-decoration: none;
}

.abra-page-top {
  padding-top: 5rem;
  font-family: 'Source Code Pro', sans-serif;
}

.carousel-item {
  height: 30rem;
}

.navbar-nav .container {
  width: 100%;
}


/*what's this for, larry?  might be clutter?*/
.fullScreen {
  height: 100%;
}

/*.display {
font-family: 'Source Code Pro', monospace;
}*/

.nav-item {
  font-family: 'Source Code Pro', monospace;
}

.sourceCodePro {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.larryLogo {
  font-family: 'Fira Mono', monospace;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  border-top: 4px;
  border-bottom: 4px;
}

.blurb {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.abra-gray {
  color: #72747;
}

.bg-abra-gray {
  background: #72747d;
  color: #F9F9F6;
}

.abra-anchor-on-gray {
  color: #fffbe9;
}

/*-------------------------------------------------------*/


.abra-section-title, .abra-subsection-title {
    /*border-color: #F9F9F6;*/
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 2px 0 0;
    border-top-width: 2px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-top: 0;
}

.abra-accordion-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 10px 21px 10px 0;
    padding-top: 10px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.abra-accordion {
    border: 1px solid;
    /*border-color: #F9F9F6;*/
    border-width: 1px 0;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    display: block;
    margin-bottom: 0px; /*---changed this from original---*/
    position: relative;

    border: 1px solid #F9F9F6;
        border-top-color: rgb(249, 249, 246);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgb(249, 249, 246);
        border-right-style: solid;
        border-right-width: 0px;
        border-bottom-color: rgb(249, 249, 246);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(249, 249, 246);
        border-left-style: solid;
        border-left-width: 0px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-width: 1px 0;
        border-top-width: 1px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 0px;
        border-top-width: 1px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 0px;
        display: block;
        margin-bottom: 0px;
        position: relative;

}
